@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  font-family: "Outfit", sans-serif;
}

@import "tailwindcss";
@import "tw-animate-css";
/*
---break---
*/
@custom-variant dark (&:is(.dark *));

@source '../../*.{js,ts,jsx,tsx,mdx}';

@theme {
  --color-primary: oklch(37.9% 0.146 265.522);
  --color-secondary: #64748b;
  --color-secondary-foreground: #ffffff;
  --color-accent: oklch(92.9% 0.013 255.508);
  --color-dark: #1e293b;
  --color-light: #f1f5f9;
  --color-background: #f8fafc;
  --color-foreground: #0f172a;
  --color-card: #ffffff;
  --color-card-foreground: #0f172a;
  --color-popover: #f1f5f9;
  --color-popover-foreground: #0f172a;
  --color-muted: #e2e8f0;
  --color-muted-foreground: #64748b;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #ffffff;
  --color-border: #e5e7eb;
  --color-input: #e5e7eb;
  --color-ring: #2563eb;
  --color-chart-1: #2563eb;
  --color-chart-2: #fbbf24;
  --color-chart-3: #10b981;
  --color-chart-4: #f472b6;
  --color-chart-5: #f87171;
  --color-sidebar: #f1f5f9;
  --color-sidebar-foreground: #0f172a;
  --color-sidebar-primary: #2563eb;
  --color-sidebar-primary-foreground: #ffffff;
  --color-sidebar-accent: oklch(92.9% 0.013 255.508);
  --color-sidebar-accent-foreground: #0f172a;
  --color-sidebar-border: #e5e7eb;
  --color-sidebar-ring: #2563eb;
  --radius-lg: 0.75rem;
  --radius-md: 0.5rem;
  --radius-sm: 0.25rem;
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }
}

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentcolor);
  }
}

@utility container-custom {
  @apply container mx-auto px-4 md:px-6;
}

/*
@utility btn-primary {
  @apply bg-[var(--color-primary)] text-white px-4 py-2 rounded hover:bg-[color-mix(in_srgb, var(--color-primary), 90%)] transition-colors;
}
*/
@utility section-title {
  @apply text-2xl md:text-3xl font-bold text-[color:var(--color-primary)] mb-6 pb-2 border-b-2 border-[color:var(--color-secondary)] inline-block;
}

@layer utilities {
  :root {
    --foreground-rgb: 15, 23, 42;
    --background-rgb: 248, 250, 252;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
  }
}

/*
---break---
*/